@model List<AutomobilMng.Models.AutomobileModel>

    <div class="row-fluid">
        <div class="breadcrumbs" id="breadcrumbs">
            <div class="btn-group @AVAResource.Resource.Pull_Dir ">
                <button id="new" class="btn @AVAResource.Resource.Pull_Dir">
                    <i class=" fa fa-plus "></i>
                    @AVAResource.Resource.New
                </button>
                <button class="btn btn-pink " id="search">
                    <i class=" fa fa-search "></i>
                    @AVAResource.Resource.SearchHeader
                </button>
                <button class="btn btn-success " id="chartDelivery">
                    <i class=" fa fa-search "></i>
                    @AVAResource.Resource.Chart_Deliver_Automobile
                </button>
            </div>
        </div>
    <div class="row-fluid " id="content">
        <div class="row-fluid loader" data-initialize="loader" id="content">
        </div>
    </div>
        <div class="table-header">
            @AVAResource.Resource.Mobile_Header_Grid
        </div>
    <table id="user-table" width="100%" class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th class="center">
                    <label>
                        <input type="checkbox" />
                        <span class="lbl"></span>
                    </label>
                </th>
                <th>@AVAResource.Resource.Mobil_Chassis</th>
                <th>@AVAResource.Resource.Mobil_Plaque</th>
                <th>@AVAResource.Resource.Mobile_Date_Buy</th>
                <th>@AVAResource.Resource.Mobile_Color</th>
                <th>@AVAResource.Resource.Mobil_Maintenance_Department</th>
                <th>@AVAResource.Resource.Mobile_Model</th>
                <th></th>
            </tr>
        </thead>

        <tbody></tbody>
    </table>
</div>
    <script type="text/javascript">
        var spinner;
        $(function () {
            var oTable1 = $('#user-table').dataTable({
                "bServerSide": true,
                "sAjaxSource": "/Autmobile/GetAutomobiles",
                "bProcessing": false,
                "aoColumns": [
                      { "bSortable": false },
                           //{ "bSortable": false },
			           null, null, null, null, null, null,
                      { "bSortable": false}
                ],
                "fnCreatedRow": function (nRow, aData, iDataIndex) {
                    $('td:eq(0)', nRow).html('<label><input type="checkbox" value="' + aData[0] + '" /><span class="lbl"></span></label>').addClass('center');
                    //$('td:eq(1)', nRow).html('<img src="~/AutomobilImages/IMG_6197.jpg" alt="avatar" class="img-circle">').addClass('center');
                    $('td:eq(7)', nRow).html('<div class="hidden-phone visible-desktop action-buttons"><a class="blue" id="' + aData[0] + '"  onclick="onedit(this)"   href="#"><i class="fa fa-edit bigger-130"></i></a><a class="red" id="' + aData[0] + '" onclick="ondelete(this)" href="#"><i class="fa fa-trash bigger-130"></i></a></div>').addClass('td-actions');
                },
                "fnServerParams": function (aoData) {
                    aoData.push({ "name": "plaqueSearch", "value": $("#plaqueSearch").val() });
                    aoData.push({ "name": "chassisSearch", "value": $("#chassisSearch").val() });
                    aoData.push({ "name": "modelSearch", "value": $("#modelSearch").val() });
                },
            });
            $('table th input:checkbox').on('click', function () {
                var that = this;
                $(this).closest('table').find('tr > td:first-child input:checkbox')
                .each(function () {
                    this.checked = that.checked;
                    $(this).closest('tr').toggleClass('selected');
                });
            });
            $('input.global_filter').on('keyup click', function () {

                filterGlobal();
            });
            $('input.column_filter').on('keyup click', function () {

                var id = $(this).parents('span').attr('data-column');
                filterColumn(id);
            });
        })

        $('#search').click(function () {
            Sppiner();
            var containerholder = $("#content");
            var url = "@Url.Action("Search", "Autmobile")";

            $.ajax({
                cache: false,
                type: "GET",
                url: url,
                success: function (data) {
                    containerholder.html('');
                    containerholder.html(data);
                    $('#user-table').DataTable().ajax.reload();
                    spinner.stop();
                    destroyloader();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Error: ' + xhr.statusText);
                    spinner.stop();

                }
            });

        });
        $('#new').click(function () {
            Sppiner();
            var url = "@Url.Action("New", "Autmobile")";
            var containerholder = $("#content");
            $.ajax({
                cache: false,
                type: "GET",
                url: url,
                success: function (data) {
                    containerholder.html('');
                    containerholder.html(data);
                    spinner.stop();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Error: ' + xhr.statusText);
                    spinner.stop();
                }
            });

        });
        $('#chartDelivery').click(function () {
            Sppiner();
            var url = "@Url.Action("ChartDeliverAutomobile", "Autmobile")";
            var containerholder = $("#content");
            $.ajax({
                cache: false,
                type: "GET",
                url: url,
                success: function (data) {
                    containerholder.html('');
                    containerholder.html(data);
                    spinner.stop();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Error: ' + xhr.statusText);
                    spinner.stop();
                }
            });

        });
        function onedit(element) {
            var id = $(element).attr('id');
            Sppiner();
            var url = "@Url.Action("Edit", "Autmobile")";
            var containerholder = $("#content");
            $.ajax({
                cache: false,
                type: "GET",
                url: url,
                data: { "id": id },
                success: function (data) {
                    containerholder.html('');
                    containerholder.html(data);
                    spinner.stop();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Error: ' + xhr.statusText);
                    spinner.stop();
                }
            });
        };

        function ondelete(element) {
            var id = $(element).attr('id');
            Sppiner();
            var url = "@Url.Action("Delete", "Autmobile")";
            var containerholder = $("#content");
            $.ajax({
                cache: false,
                type: "GET",
                url: url,
                data: { "id": id },
                success: function (data) {
                    containerholder.html('');
                    containerholder.html(data);
                    spinner.stop();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Error: ' + xhr.statusText);
                    spinner.stop();
                }
            });
        };
     
        function filterGlobal() {
            $('#warrantdataTable').DataTable().search(
                $('#global_filter').val(),
                $('#global_regex').prop('checked'),
                $('#global_smart').prop('checked')
            ).draw();
        }


        function filterColumn(i) {
            $('#user-table').DataTable().column(i).search(
                $('#col' + i + '_filter').val(),
                $('#col' + i + '_regex').prop('checked'),
                $('#col' + i + '_smart').prop('checked')
            ).draw();
        }

</script>
