@model DAL.Color
@{
    AjaxOptions options = new AjaxOptions();
    options.HttpMethod = "POST";
    options.OnBegin = "OnBegin";
    options.OnComplete = "OnComplete";
    options.OnFailure = "OnFailure";
    options.OnSuccess = "OnSuccess";
    options.LoadingElementId = "2";
    options.LoadingElementDuration = 1000;
    options.UpdateTargetId = "d";
    options.InsertionMode = InsertionMode.Replace;
}
<div class="span12 widget-container-span">
    <div class="widget-box ">
        <div class="widget-header">
            <h5>@AVAResource.Resource.Department_Define</h5>
            <div class="widget-toolbar">
                <a href="#" data-action="collapse">
                    <i class="icon-chevron-up"></i>
                </a>
                <a href="#" data-action="close">
                    <i class="icon-remove"></i>
                </a>
            </div>
        </div>
        <div class="widget-body">
            <div class="widget-main ">
                @using (Ajax.BeginForm("New", "Color", options, new { @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="row-fluid  ">
                        <fieldset>
                            <div class="span4 @AVAResource.Resource.Pull_Dir">
                                <label>
                                    <label>@AVAResource.Resource.Color_Name:</label>
                                    <span data-column="1" class="block input-icon @AVAResource.Resource.Input_icon ">
                                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                    </span>
                                </label>

                          
                            </div>
                            <div class="span4 @AVAResource.Resource.Pull_Dir">
               

                                <label>
                                    <label>@AVAResource.Resource.Color_Value:</label>
                                    <span data-column="2" class="block input-icon @AVAResource.Resource.Input_icon">
                                        @Html.TextBoxFor(model => model.Value, new { @class = "form-control", id = "transColor" })
                                        @Html.ValidationMessageFor(model => model.Value, "", new { @class = "text-danger" })
                                    </span>
                                </label>
                            </div>
                        </fieldset>

                        @*<div class="span6 @AVAResource.Resource.Pull_Dir">
                            <div class="control-group">
                                <label class="control-label">@AVAResource.Resource.Color_Name</label>
                                <div class="controls">
                                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="span6 @AVAResource.Resource.Pull_Dir">
                            <div class="control-group">
                                <label class="control-label">@AVAResource.Resource.Color_Value</label>
                                <div class="controls">
                                    @Html.TextBoxFor(model => model.Value, new { @class = "form-control", id = "transColor" })
                                    @Html.ValidationMessageFor(model => model.Value, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>*@
                    </div>
                    <div class="row-fluid  ">
                        <button class=" btn btn-small btn-primary">
                            <i class="icon-edit "></i>
                            @AVAResource.Resource.Save
                        </button>
                        <button class=" btn btn-small btn-purple" type="button" onclick="cancel()">
                            <i class="icon-edit "></i>
                            @AVAResource.Resource.Cancel
                        </button>
                    </div>
                }
            </div>

        </div>
    </div>
</div>

<script>   $('.css').on('click', function (evt) {
       $('#jquiCSS').attr('href', 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/' + this.innerHTML + '/jquery-ui.css');
       $('.css').removeClass('sel');
       $(this).addClass('sel');
   });
    function cancel() {
        var containerholder = $("#content");
        containerholder.html('');        
    }
    $('#transColor').colorpicker({
        transparentColor: true
    });

    $(".chzn-select").chosen();
    $(function () {
        $(document).ajaxComplete(function (event, request, settings) {
            $.validator.unobtrusive.parse(document);
        });
    });
    jQuery.browser = {};
    $(function () {
        var tag_input = $('#form-field-tags');
        if (!(/msie\s*(8|7|6)/.test(navigator.userAgent.toLowerCase())))
            tag_input.tag({ placeholder: tag_input.attr('placeholder') });
        else {
            tag_input.after('<textarea id="' + tag_input.attr('id') + '" name="' + tag_input.attr('name') + '" rows="3">' + tag_input.val() + '</textarea>').remove();
        }
    })

    function OnBegin() {
        Sppiner();
    }
    function OnComplete() {
        spinner.stop();
    }
    function OnFailure(arg) {
        spinner.stop();
    }
    function OnSuccess(result) {
        var data = '';
        if (result.success) {
            data = '<div class="alert alert-success"><button type="button" class="close" data-dismiss="alert">' +
           '<i class="icon-remove"></i></button><strong> <i class="icon-ok"></i></strong>' +
          result.description+
            '<br></div>'
        }
        else {
             data = '<div class="alert alert-warning"><button type="button" class="close" data-dismiss="alert">' +
           '<i class="icon-remove"></i></button><strong>  <i class="icon-ok"></i></strong>' +
            result.description+
           '<br></div>'
        }
        $('#content').html(data);
        $('#table').DataTable().ajax.reload();
        spinner.stop();
    }

    function generate(type, text) {
        var n = noty({
            text: text,
            type: type,
            dismissQueue: false,
            layout: 'topCenter',
            theme: 'defaultTheme',
        });
        return n;
    }
</script>
