@model IEnumerable<AutomobilMng.Models.EditUserViewModel>
 <div class="row-fluid">
    <div class="breadcrumbs" id="breadcrumbs">
        <div class="btn-group @AVAResource.Resource.Pull_Dir ">
            <button id="new" class="btn btn-success @AVAResource.Resource.Pull_Dir">
                <i class=" fa fa-plus "></i>
                @AVAResource.Resource.New
            </button>
            <button class="btn btn-primary " id="search">
                <i class=" fa fa-search "></i>
                @AVAResource.Resource.SearchHeader
            </button>
        </div>
    </div>
</div>
<div class="loader" data-initialize="loader" id="myLoader"></div>

<div class="row-fluid " id="content">
    <div class="row-fluid loader" data-initialize="loader" id="content">

    </div>
</div>
<div class="row-fluid" id="listcontent">
    @Html.Partial("List")
</div>

<script type="text/javascript">
        var spinner;
        $('#search').click(function () {
            Sppiner();
            var containerholder = $("#content");
            var url = "@Url.Action("ShowSearchPartial", "Account")";

            $.ajax({
                cache: false,
                type: "GET",
                url: url,
                success: function (data) {

                    containerholder.html('');
                    containerholder.html(data);
                    $('#user-table').DataTable().ajax.reload();
                    spinner.stop();
                    destroyloader();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Error: ' + xhr.statusText);
                    spinner.stop();

                }
            });

        });
        $('#new').click(function () {
            Sppiner();
            var url = "@Url.Action("Register", "Account")";
            var containerholder = $("#content");
            $.ajax({
                cache: false,
                type: "GET",
                url: url,
                success: function (data) {
                    containerholder.html('');
                    containerholder.html(data);
                    spinner.stop();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Error: ' + xhr.statusText);
                    spinner.stop();
                }
            });

        });
</script>

