@model AutomobilMng.Models.TrafficCardModel
@{
    AjaxOptions options = new AjaxOptions();
    options.HttpMethod = "POST";
    options.OnBegin = "OnBegin";
    options.OnComplete = "OnComplete";
    options.OnFailure = "OnFailure";
    options.OnSuccess = "OnSuccess";
    options.LoadingElementId = "2";
    options.LoadingElementDuration = 1000;
    options.UpdateTargetId = "d";
    options.InsertionMode = InsertionMode.Replace;
}
<div class="span12 widget-container-span">
    <div class="widget-box ">
        <div class="widget-header">
            <h5>@AVAResource.Resource.Define_FuelCard</h5>
            <div class="widget-toolbar">
                <a href="#" data-action="collapse">
                    <i class="icon-chevron-up"></i>
                </a>
                <a href="#" data-action="close">
                    <i class="icon-remove"></i>
                </a>
            </div>
        </div>
        <div class="widget-body">
            <div class="widget-main ">
                <link rel="stylesheet" href="~/Content/NewFolder1/jquery.Bootstrap-PersianDateTimePicker.css" />
                <script src="~/Scripts/NewFolder1/calendar.js" type="text/javascript"></script>
                <script src="~/Scripts/NewFolder1/jquery.Bootstrap-PersianDateTimePicker.js" type="text/javascript"></script>

                @using (Ajax.BeginForm("New", "TrafficCard", options))
                {
                    @Html.AntiForgeryToken()
                    <div class="row-fluid  ">
                        <div class="span6 @AVAResource.Resource.Pull_Dir">
                            <div class="">
                                <label class="">@AVAResource.Resource.NumberCard_TrafficCard</label>
                                <div class="">
                                    @Html.TextBoxFor(model => model.TrafficCard.NumberCard, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.TrafficCard.NumberCard, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="">
                                <label class="">@AVAResource.Resource.DateBuy_TrafficCard</label>
                                <label class="">
                                    <span class="block  input-icon @AVAResource.Resource.Input_icon">
                                        <input type="text" class="form-control" id="exampleInput3" value=@Model.PersianDateBuy name="PersianDateBuy"  placeholder=@AVAResource.Resource.ReturnDate data-mddatetimepicker="true" data-placement="right" />
                                        <i class="icon-calendar"></i>
                                    </span>
                                </label>
                            </div>
                            <div class="">
                                <label class="">@AVAResource.Resource.DateExpire_TrafficCard</label>
                                <label class="">
                                    <span class="block  input-icon @AVAResource.Resource.Input_icon">
                                        <input type="text" class="form-control" id="exampleInput3" value=@Model.PersianDateExpire name="PersianDateExpire"  placeholder=@AVAResource.Resource.ReturnDate data-mddatetimepicker="true" data-placement="right" />
                                        <i class="icon-calendar"></i>
                                    </span>
                                </label>
                            </div>
                            <div class="">
                                <label class="">@AVAResource.Resource.TrafficCardType_TrafficCard</label>
                                <div class="">

                                    @Html.DropDownListFor(model => model.TrafficCardType, Model.TrafficCardTypes, new { @id = "trafficCardType" })
                                    @Html.ValidationMessageFor(model => model.TrafficCardType, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="span6 ">
                            <div class="">
                                <label class="">@AVAResource.Resource.Buyer_TrafficCard</label>
                                <div class="">
                                    @Html.TextBoxFor(model => model.TrafficCard.Buyer, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.TrafficCard.Buyer, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="">
                                <label class="">هزینه</label>
                                <div class="">
                                    @Html.TextBoxFor(model => model.TrafficCard.Cost, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.TrafficCard.Cost, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="">
                                <label class="">@AVAResource.Resource.Description</label>
                                <div class="">
                                    @Html.TextBoxFor(model => model.TrafficCard.Description, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.TrafficCard.Description, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div id="auto" class="control-group" style="display: none;">
                                <label class="control-label">@AVAResource.Resource.Automobile</label>
                                <div class="controls">
                                    @Html.DropDownListFor(model => model.AutomobileId, Model.Automobiles, new { @class = "chzn-select", @id = "automobilelist" })
                                    @Html.ValidationMessageFor(model => model.AutomobileId, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            </div>
                        </div>
                    <div class="row-fluid  ">
                        <button class=" btn btn-small btn-primary">
                            <i class="icon-edit "></i>
                            @AVAResource.Resource.Save
                        </button>
                        <button class=" btn btn-small btn-purple" type="button" onclick="cancel()">
                            <i class="icon-edit "></i>
                            @AVAResource.Resource.Cancel
                        </button>
                    </div>
                }
            </div>

        </div>
    </div>
</div>

<script>
    function cancel() {
        var containerholder = $("#content");
        containerholder.html('');
    }
    $(".chzn-select").chosen();
    $(function () {
        $(document).ajaxComplete(function (event, request, settings) {
            $.validator.unobtrusive.parse(document);
        });
    });
    jQuery.browser = {};
    $(function () {
        var tag_input = $('#form-field-tags');
        if (!(/msie\s*(8|7|6)/.test(navigator.userAgent.toLowerCase())))
            tag_input.tag({ placeholder: tag_input.attr('placeholder') });
        else {
            tag_input.after('<textarea id="' + tag_input.attr('id') + '" name="' + tag_input.attr('name') + '" rows="3">' + tag_input.val() + '</textarea>').remove();
        }
    })

    function OnBegin() {
        Sppiner();
    }
    function OnComplete() {
        spinner.stop();
    }
    function OnFailure(arg) {
        spinner.stop();
    }
    function OnSuccess(result) {

        var data = '';
        if (result.success) {
            data = '<div class="alert alert-success"><button type="button" class="close" data-dismiss="alert">' +
           '<i class="icon-remove"></i></button><strong> <i class="icon-ok"></i></strong>' +
          result.description+
            '<br></div>'
        }
        else {
             data = '<div class="alert alert-warning"><button type="button" class="close" data-dismiss="alert">' +
           '<i class="icon-remove"></i></button><strong>  <i class="icon-ok"></i></strong>' +
            result.description+
           '<br></div>'
        }
        $('#content').html(data);
        $('#table').DataTable().ajax.reload();
        spinner.stop();
    }

    function generate(type, text) {
        var n = noty({
            text: text,
            type: type,
            dismissQueue: false,
            layout: 'topCenter',
            theme: 'defaultTheme',
        });
        return n;
    }

    $('#trafficCardType').change(function () {
        var selected = $("#trafficCardType option:selected").text();

        if (selected == 'معمولی') {
            $("#automobilelist_chzn").css("width", "220");
            $('#auto').show();
        }
        else {
            $('#auto').hide();
        }
        @*alert(selected)
           var url = "@Url.Action("GetAutomobils", "TrafficCard")";
           $.ajax({
               cache: false,
               type: "GET",
               url: url,
               //data: { "automobileid": $(this).val() },
               success: function (data) {
                 
                   var items = '';
                   $.each(data, function (i, state) {
                       items += "<option value='" + state.Value + "'>" + state.Text + "</option>";
                       // state.Value cannot contain ' character. We are OK because state.Value = cnt++;
                   });
                   $('ul.chzn-results').html('');
                   $('ul.chzn-results').append(items);
                  // $('#automobilelist').html(items);
               },
               error: function (xhr, ajaxOptions, thrownError) {
            
                   alert("")
               }
           });*@
       });
</script>
