@model AutomobilMng.Models.OilChangeSearchModel
<div class="span12 widget-container-span">
    <div class="widget-box">
        <div class="widget-header">
            <h5>@AVAResource.Resource.SearchHeader</h5>
            <div class="widget-toolbar">
                <a href="#" data-action="collapse">
                    <i class="icon-chevron-up"></i>
                </a>

            </div>
        </div>
        <div class="widget-body">
            <div class="widget-main">
                <link rel="stylesheet" href="~/Content/NewFolder1/jquery.Bootstrap-PersianDateTimePicker.css" />
                <script src="~/Scripts/NewFolder1/calendar.js" type="text/javascript"></script>
                <script src="~/Scripts/NewFolder1/jquery.Bootstrap-PersianDateTimePicker.js" type="text/javascript"></script>
                <form class=" form-horizontal" id="formdata">
                    @Html.AntiForgeryToken()
                    <div class="row-fluid  ">

                        <div class="span6 @AVAResource.Resource.Pull_Dir">

                            <div class="control-group">
                                <label class="control-label">@AVAResource.Resource.Automobile</label>
                                <div class="controls">
                                    <span data-column="1" class="block input-icon @AVAResource.Resource.Input_icon ">
                                        @Html.DropDownListFor(model => model.AutomobileID, Model.Automobiles, new { @class = "chzn-select column_filter", @id = "automobile" })
                                        @Html.ValidationMessageFor(model => model.AutomobileID, "", new { @class = "text-danger" })
                                    </span>
                                </div>
                            </div>
                            
                        </div>
                        <div class="span6 ">
                            <div class="control-group">
                                <label class="control-label">@AVAResource.Resource.Driver</label>
                                <div class="controls">
                                    <span data-column="2" class="block input-icon @AVAResource.Resource.Input_icon ">
                                        @Html.DropDownListFor(model => model.DriverID, Model.Drivers, new { @class = "chzn-select column_filter", @id = "driver" })
                                        @Html.ValidationMessageFor(model => model.DriverID, "", new { @class = "text-danger" })
                                    </span>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="row-fluid  ">
                        <button class=" btn btn-small btn-primary" id="show" type="button">
                            <i class="icon-edit "></i>
                            نمایش
                        </button>
                        <button class=" btn btn-small btn" id="report" type="button">
                            <i class="icon-edit "></i>
                            گزارش
                        </button>
                        <button class=" btn btn-small btn-purple" type="button" onclick="cancel()">
                            <i class="icon-edit "></i>
                            @AVAResource.Resource.Cancel
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function cancel() {
        var containerholder = $("#content");
        containerholder.html('');
        containerholder.html(data);
    }
    $(".chzn-select").chosen();
    $(function () {
        $('input.column_filter').on('keyup click', function () {
            var id = $(this).parents('span').attr('data-column');
            filterColumn(id);
        });
    })

    $('.column_filter').change(function () {
        var id = $(this).parents('span').attr('data-column');
        filterColumn(id);
    });
    function filterColumn(i) {
       
        $('#table').DataTable().column(i).search(
            $('#col' + i + '_filter').val(),
            $('#col' + i + '_regex').prop('checked'),
            $('#col' + i + '_smart').prop('checked')
        ).draw();
    }
    $('#report').click(function () {
        Sppiner();
        var url = "@Url.Action("Report", "Repair")";
        var containerholder = $("#listcontent");
        $.ajax({
            cache: false,
            type: "GET",
            url: url,
            data: {
                automobile: $('#automobile').val(),
                driver: $('#driver').val(),
            },
            success: function (data) {
                containerholder.html('');
                containerholder.html(data);
                spinner.stop();
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert('Error: ' + xhr.statusText);
                spinner.stop();
            }
        });
    });

    $('#show').click(function () {
        Sppiner();
        var url = "@Url.Action("List", "OilChange")";
        var containerholder = $("#listcontent");
        $.ajax({
            cache: false,
            type: "GET",
            url: url,
            success: function (data) {
                containerholder.html('');
                containerholder.html(data);
                spinner.stop();
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert('Error: ' + xhr.statusText);
                spinner.stop();
            }
        });
    });
</script>
