@model AutomobilMng.Models.IncidentSearchModel
<div class="span12 widget-container-span">
    <div class="widget-box">
        <div class="widget-header">
            <h5>@AVAResource.Resource.SearchHeader</h5>
            <div class="widget-toolbar">
                <a href="#" data-action="collapse">
                    <i class="icon-chevron-up"></i>
                </a>
                <a href="#" data-action="close">
                    <i class="icon-remove"></i>
                </a>
            </div>
        </div>
        <div class="widget-body">
            <div class="widget-main">
                <link rel="stylesheet" href="~/Content/NewFolder1/jquery.Bootstrap-PersianDateTimePicker.css" />
<script src="~/Scripts/NewFolder1/calendar.js" type="text/javascript"></script>
<script src="~/Scripts/NewFolder1/jquery.Bootstrap-PersianDateTimePicker.js" type="text/javascript"></script>
                <form class="form-search" id="formdata">
                    @Html.AntiForgeryToken()
                    <fieldset>
                        <label>
                            <span data-column="1" class="block input-icon @AVAResource.Resource.Input_icon">
                                <label class="">@AVAResource.Resource.Automobile</label>
                                @Html.DropDownListFor(model => model.AutomobileID, Model.Automobiles, new { @class = "column_filter span12", @id = "automobile" })
                            </span>
                        </label>
                        <label>
                            <span data-column="2" class="block input-icon @AVAResource.Resource.Input_icon">
                                <label class="">@AVAResource.Resource.Driver</label>
                                @Html.DropDownListFor(model => model.DriverID, Model.Drivers, new { @class = "column_filter span12", @id = "driver" })
                            </span>
                        </label>
                        <div class="">
                            <label class="">تصادف از</label>
                            <label class="">
                                <span data-column="5" class="block input-icon @AVAResource.Resource.Input_icon ">
                                    <input type="text" class="column_filter form-control" id="fromPersianIncidentDate" value=@Model.FromPersianIncidentDate data-mddatetimepicker="true" data-placement="right" />
                                    <i class="icon-calendar"></i>
                                </span>
                            </label>
                        </div>
                        <div class="">
                            <label class="">تصادف تا</label>
                            <label class="">
                                <span data-column="6" class="block  input-icon @AVAResource.Resource.Input_icon">
                                    <input type="text" class="column_filter form-control" id="toPersianIncidentDate" value=@Model.ToPersianIncidentDate data-mddatetimepicker="true" data-placement="right" />
                                    <i class="icon-calendar"></i>
                                </span>
                            </label>
                        </div>
                    </fieldset>
                </form>
                <div class="row-fluid  ">
                    <button class=" btn btn-small btn-primary" id="show" type="button">
                        <i class="icon-edit "></i>
                        نمایش
                    </button>
                    <button class=" btn btn-small btn" id="report" type="button">
                        <i class="icon-edit "></i>
                        گزارش
                        <button class=" btn btn-small btn-purple" type="button" onclick="cancel()">
                            <i class="icon-edit "></i>
                            @AVAResource.Resource.Cancel
                        </button>
</div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    function cancel() {
        var containerholder = $("#content");
        containerholder.html('');
    }

    $(function () {
        $('input.column_filter').on('keyup click', function () {
            var id = $(this).parents('span').attr('data-column');
            filterColumn(id);
        });
    })

    $('.column_filter').change(function () {
        var id = $(this).parents('span').attr('data-column');
        filterColumn(id);
    });
    function filterColumn(i) {
        $('#incidenttable').DataTable().column(i).search(
            $('#col' + i + '_filter').val(),
            $('#col' + i + '_regex').prop('checked'),
            $('#col' + i + '_smart').prop('checked')
        ).draw();
    }
    $('#report').click(function () {
        Sppiner();
        var url = "@Url.Action("Report", "Incident")";
        var containerholder = $("#listcontent");
        $.ajax({
            cache: false,
            type: "GET",
            url: url,
            data: {
                automobile: $('#automobile').val(),
                driver: $('#driver').val(),
                fromPersianIncidentDate: $('#fromPersianIncidentDate').val(),
                toPersianIncidentDate: $('#toPersianIncidentDate').val(),

            },
            success: function (data) {
                containerholder.html('');
                containerholder.html(data);
                spinner.stop();
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert('Error: ' + xhr.statusText);
                spinner.stop();
            }
        });
    });

    $('#show').click(function () {
        Sppiner();
        var url = "@Url.Action("List", "Incident")";
        var containerholder = $("#listcontent");
        $.ajax({
            cache: false,
            type: "GET",
            url: url,
            success: function (data) {
                containerholder.html('');
                containerholder.html(data);
                spinner.stop();
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert('Error: ' + xhr.statusText);
                spinner.stop();
            }
        });
    });
</script>
