@model DAL.Automobile
<div class="widget-box ">
    <div class="widget-header">
        <h3 class="header smaller lighter blue">نمایش تصادفات خودروبه پلاک @Model.Plaque </h3>
     @Html.HiddenFor(model => model.ID, new { @id = "automobile" })
        <div class="widget-toolbar">
            <a href="#" style="font-size:25px;margin-top:5px" class="close" data-dismiss="modal">
                <i class="icon-remove"></i>
            </a>
        </div>
    </div>
    <div class="widget-body">
        <div class="widget-main ">
            <table id="incidenttable" width="100%" class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>
                        </th>
                        <th>@AVAResource.Resource.Mobil_Plaque</th>
                        <th>@AVAResource.Resource.IncidentDriver</th>
                        <th>@AVAResource.Resource.IncidentDate</th>
                        <th>@AVAResource.Resource.IncidentDescription</th>
                        @*<th></th>*@
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>

    </div>
</div>

<script type="text/javascript">
    var spinner;
    $(function () {
        oTable1 = $('#incidenttable').dataTable({
            "bFilter": false,
            "language": {
                "lengthMenu": "نمایش _MENU_ سطر در صفحه",
                "zeroRecords": "رکوردی وجود ندارد - متاسفانه",
                "info": "نمایش صفحه _PAGE_ از _PAGES_",
                "infoEmpty": "رکوردی وجود ندارد",
                "infoFiltered": "(فیلتر شده از _MAX_ رکورد )"
            },
            "bServerSide": true,
            "sAjaxSource": "/Incident/GetIncidents",
            "bProcessing": false,
            "aoColumns": [
                  { "bSortable": false },
                   null, null, null, null,
                   //{ "bSortable": false }
            ],
            "fnCreatedRow": function (nRow, aData, iDataIndex) {
                //  if (aData[6] == "true")
                //$('td:eq(0)', nRow).html('<div class=""><a class="blue" id="' + aData[0] + '"  onclick="onrepairs(this)"   href="#"><i id="select"  class="fa fa-plus bigger-130"></i></a></div>').addClass('center td-actions');
                //$('td:eq(5)', nRow).html('<div class="hidden-phone visible-desktop action-buttons"><a class="blue" id="' + aData[0] + '"  onclick="onedit(this)"   href="#"><i class="fa fa-edit bigger-130"></i></a><a class="green" id="' + aData[0] + '" onclick="addincidentrepair(this)" href="#"><i class="icon-wrench bigger-130"></i></a><a class="red" id="' + aData[0] + '" onclick="ondelete(this)" href="#"><i class="fa fa-trash bigger-130"></i></a></div>').addClass('td-actions');
            },
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "automobile", "value": $("#automobile").val() });
                aoData.push({ "name": "driver", "value": $("#driver").val() });
                aoData.push({ "name": "fromPersianIncidentDate", "value": $("#fromPersianIncidentDate").val() });
                aoData.push({ "name": "toPersianIncidentDate", "value": $("#toPersianIncidentDate").val() });
            },
        });
        //$('table th input:checkbox').on('click', function () {
        //    var that = this;
        //    $(this).closest('table').find('tr > td:first-child input:checkbox')
        //    .each(function () {
        //        this.checked = that.checked;
        //        $(this).closest('tr').toggleClass('selected');
        //    });
        //});
    });
</script>





