@model AutomobilMng.Models.FuelConsumeModel

@{
    AjaxOptions options = new AjaxOptions();
    options.HttpMethod = "POST";
    options.OnBegin = "OnBegin";
    options.OnComplete = "OnComplete";
    options.OnFailure = "OnFailure";
    options.OnSuccess = "OnSuccess";
    options.LoadingElementId = "2";
    options.LoadingElementDuration = 1000;
    options.UpdateTargetId = "d";
    options.InsertionMode = InsertionMode.Replace;
}
<div class="span12 widget-container-span">
    <div class="widget-box">
        <div class="widget-header">
            <h5>@AVAResource.Resource.Edit_FuelConsume</h5>
            <div class="widget-toolbar">
                <a href="#" data-action="collapse">
                    <i class="icon-chevron-up"></i>
                </a>
            </div>
        </div>
        <div class="widget-body">
            <div class="widget-main">
                <link rel="stylesheet" href="~/Content/NewFolder1/jquery.Bootstrap-PersianDateTimePicker.css" />
                <script src="~/Scripts/NewFolder1/calendar.js" type="text/javascript"></script>
                <script src="~/Scripts/NewFolder1/jquery.Bootstrap-PersianDateTimePicker.js" type="text/javascript"></script>
                @using (Ajax.BeginForm("Edit", "FualConsume", options, new { @class = "form-horizontal" }))
                {
                      @Html.HiddenFor(model => model.FuelConsume.ID)
                    @Html.AntiForgeryToken()
                   <div class="row-fluid  ">
                        <div class="span6 @AVAResource.Resource.Pull_Dir">
                            <div class="control-group">
                                <label class="control-label">@AVAResource.Resource.DeliveryDepartment</label>
                                <div class="controls">
                                    @Html.DropDownListFor(model => model.DepartmentID, Model.Departments, new { @class = "chzn-select    " })
                                    @Html.ValidationMessageFor(model => model.FuelConsume.Department, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">@AVAResource.Resource.Automobile</label>
                                <div class="controls">
                                    @Html.DropDownListFor(model => model.AutomobileID, Model.Automobiles, new { @class = "chzn-select", @id = "automobilelist" })
                                    @Html.ValidationMessageFor(model => model.FuelConsume.Automobile, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">@AVAResource.Resource.Driver</label>
                                <div class="controls">

                                    @Html.DropDownListFor(model => model.DriverID, Model.Drivers, new { @class = "chzn-select", })
                                    @Html.ValidationMessageFor(model => model.FuelConsume.Driver, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">@AVAResource.Resource.DateReFual</label>
                                <label class="controls">
                                    <span class="block input-icon @AVAResource.Resource.Input_icon ">
                                        <input type="text" class="form-control" id="exampleInput3" value=@Model.PersianRefuelDate name="PersianRefuelDate" placeholder=@AVAResource.Resource.DateRepair  data-mddatetimepicker="true" data-placement="left" />
                                        <i class="icon-calendar"></i>
                                    </span>
                                </label>
                            </div>
                            <div class="control-group">
                                <label class="control-label">@AVAResource.Resource.DeliveryHour</label>
                                <div class="controls">
                                    @Html.TextBoxFor(model => model.HourRefuelDate, new { @class = "form-control", @style = "width:20px" })
                                    @AVAResource.Resource.DeliveryMinute
                                    @Html.TextBoxFor(model => model.MinuteRefuelDate, new { @class = "form-control", @style = "width:20px" })
                                    @Html.ValidationMessageFor(model => model.HourRefuelDate, "", new { @class = "text-danger" })
                                    @Html.ValidationMessageFor(model => model.MinuteRefuelDate, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">@AVAResource.Resource.PaymentType</label>
                                <div class="controls">
                                    @Html.DropDownListFor(model => model.PaymentTypeID, Model.PaymentTypes, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.FuelConsume.PaymentType, "", new { @class = "text-danger" })
                                </div>
                            </div>
               
                        </div>
                        <div class="span6 ">
                    
                            <div class="control-group">
                                <label class="control-label">@AVAResource.Resource.FuelCardNumber</label>
                                <div class="controls">
                                    @Html.DropDownListFor(model => model.FuelCardID, Model.FuelCards, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.FuelConsume.FuelCard, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">@AVAResource.Resource.FualStation</label>
                                <div class="controls">
                                    @Html.TextBoxFor(model => model.FuelConsume.FualStation, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.FuelConsume.FualStation, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">@AVAResource.Resource.AmountPaid</label>
                                <div class="controls">
                                    @Html.TextBoxFor(model => model.FuelConsume.AmountPaid, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.FuelConsume.AmountPaid, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">@AVAResource.Resource.DistanceBeforReFual</label>
                                <div class="controls">
                                    @Html.TextBoxFor(model => model.FuelConsume.Mileag, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.FuelConsume.Mileag, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">@AVAResource.Resource.Mobile_Fual_Type</label>
                                <div class="controls">
                                    @Html.DropDownListFor(model => model.FualTypeID, Model.FualTypes, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.FuelConsume.FualType, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">@AVAResource.Resource.VolumeFuel</label>
                                <div class="controls">
                                    @Html.TextBoxFor(model => model.FuelConsume.VolumeFuel, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.FuelConsume.VolumeFuel, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
     <div class="row-fluid  ">
                        <div class="control-group">
                            <div class="controls">
                                <label class="">@AVAResource.Resource.Description</label>
                                @Html.TextAreaFor(model => model.FuelConsume.Description, new { @class = "span12", @style = "height:90px" })
                                @Html.ValidationMessageFor(model => model.FuelConsume.Description, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid  ">
                        <button class=" btn btn-small btn-primary">
                            <i class="icon-edit "></i>
                            @AVAResource.Resource.Save
                        </button>
                        <button class=" btn btn-small btn-purple" type="button" onclick="cancel()">
                            <i class="icon-edit "></i>
                            @AVAResource.Resource.Cancel
                        </button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


<script>
    function cancel() {
        var containerholder = $("#content");
        containerholder.html('');
    }
    $(".chzn-select").chosen();
    $(function () {
        var tag_input = $('#form-field-tags');
        if (!(/msie\s*(8|7|6)/.test(navigator.userAgent.toLowerCase())))
            tag_input.tag({ placeholder: tag_input.attr('placeholder') });
        else {
            //display a textarea for old IE, because it doesn't support this plugin or another one I tried!
            tag_input.after('<textarea id="' + tag_input.attr('id') + '" name="' + tag_input.attr('name') + '" rows="3">' + tag_input.val() + '</textarea>').remove();
            //$('#form-field-tags').autosize({append: "\n"});
        }
    })
    function OnBegin() {
        Sppiner();
    }
    function OnComplete() {
        spinner.stop();
    }
    function OnFailure(arg) {
        spinner.stop();
    }
    function OnSuccess(result) {
        var data = '';
        if (result.success) {
            data = '<div class="alert alert-success"><button type="button" class="close" data-dismiss="alert">' +
           '<i class="icon-remove"></i></button><strong> <i class="icon-ok"></i></strong>' +
          result.description +
            '<br></div>'
        }
        else {
            data = '<div class="alert alert-warning"><button type="button" class="close" data-dismiss="alert">' +
          '<i class="icon-remove"></i></button><strong>  <i class="icon-ok"></i></strong>' +
           result.description +
          '<br></div>'
        }
        $('#content').html(data);
        $('#table').DataTable().ajax.reload();
        spinner.stop();
    }
    @*$('#automobilelist').change(function () {
        alert("")
        var url = "@Url.Action("GetDrivers", "Autmobile")";
        $.ajax({
            cache: false,
            type: "GET",
            url: url,
            data: { "automobileid": $(this).val() },
            success: function (data) {
                var items = '';
                $.each(data, function (i, state) {
                    items += "<option value='" + state.Value + "'>" + state.Text + "</option>";
                    // state.Value cannot contain ' character. We are OK because state.Value = cnt++;
                });
                $('#driverlist').html(items);
            },
            error: function (xhr, ajaxOptions, thrownError) {
            
                alert("")
            }
        });
    });*@
</script>
